@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table table-bordered table-hover">
    <thread>
        <tr>
            <th>Movies</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <th>@movie.Name</th>
            </tr>
                
        }
    </tbody>
</table>